@import url('https://fonts.googleapis.com/css?family=Roboto');


#knappily-articles--sdk{
    position: absolute;
}



.knappily-article-plugin__wrapper::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #f8f7f7;
    overflow-x: hidden;
    overflow-y: auto;
}


.knappily-article-plugin__wrapper::-webkit-scrollbar
{
    width: 4px;
    background-color: #F5F5F5;
}

.knappily-article-plugin__wrapper::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

.knappily-article-plugin__item{
    margin-left: 80px;
    display: block;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #4c4c4c;
}

.knappily-article-plugin__item__title{
    font-size: 14px;
}

.knappily-article-plugin__item__desc{
    font-size: 12px;
}

.knappily-article-plugin__wrapper{
    padding: 10px;
    overflow-y: scroll;
    height: 292px;
    border: 1px solid #c6c6c6;
}

.knappily-article-plugin__header{
    color: #4c4c4c;
    border-radius: 5px 5px 0 0;
    padding: 8px;
}

.knappily-article-plugin__header__title{
    font-size: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.knappily-article-plugin__article, .knappily-article-plugin__article:hover, .knappily-article-plugin__article:focus{
    text-decoration: none;
}



.knappily-article-plugin__article__wrapper{
    position:relative;
    min-height: 85px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
}


.knappily-article-plugin__article__wrapper:hover{
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
}

.knappily-article-plugin__container__button{
    background-color: #c62828 !important;
    border: none;
    color: white;
    padding: 22px 22px;
    text-align: center;
    display: inline-block;
    position: fixed;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    top: 50%;
    right: 0px;
}

.knappily-article-plugin__scroll__top{
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
}
.knappily-scrolltp {
  position: absolute;
  padding: 10px;
  background: rgba(0, 0, 0, .3);
  border-radius: 50%;
  margin-bottom: 50px;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  z-index: 2000;
  cursor: pointer;
  
}

.knappily-scrolltp img{
    width:18px;
    height:15px;
}

.knappily-article-plugin__footer{
    position:absolute;
    bottom:0px;
    height:40px;
    z-index: 30;
}

.knappily-article-plugin__footer__button {
    position: absolute;
    background-color: #fff;
    border: none;
    margin-top: 6px;
    margin-left: 10px;
    color: #DC3023;
    text-align: center;
    font-family:'Roboto', sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: 6px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 20
}

.knappily-article-plugin__footer__arrow__wrapper {
    background-color: #c62828;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

p {
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.knappily-article-plugin__item__title {
  font-weight: 600;
}
